.mainPanel {
  padding-bottom: 3rem;
  background-color: #2c3333;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.innerPanel {
  background-color: #395b64;
  padding: 2rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  border-radius: 15px;
}

.wave {
  position: relative;
  background-color: #2c3333;
}

.wave::before {
  background: url("../public/wave.svg") center bottom no-repeat;
  bottom: 90%;
  content: "";
  height: 320px;
  position: absolute;
  width: 100%;
  z-index: -1;
}
